<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- JSON feed -->
    <link href="https://gavinw.me/cpp-programs/feed.json" rel="alternate" type="application/feed+json" title="C++ Programs">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ repo_url }}/styles.css">

    <title>C++ Programs</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md">

        <h1 class="mb-4 text-center">⚙️ C++ Programs</h1>

        <p>The purpose of this website is to provide simple C++ programming examples with brief descriptions of the code. Code files for running the examples are available on GitHub in the examples folder and website files are in the docs folder.</p>

        <p>This website and example code are available on <a href="https://github.com/wigging/cpp-programs">GitHub</a>. An RSS feed is available for subscribing to new content and updates. Questions, comments, and other feedback can be sent via <a href="mailto:wiggingATmeDOTcom" onclick = "this.href=this.href.replace(/AT/,'&#64;').replace(/DOT/,'&#46;')">Email</a>, <a href="https://fosstodon.org/@wigging">Mastodon</a>, or <a href="https://twitter.com/wigging">Twitter</a>. Or submit an Issue on GitHub. If you would like to support this project, donations can be made to Gavin Wiggins using <a href="https://github.com/sponsors/wigging">GitHub Sponsors</a>, <a href="https://www.patreon.com/wigging">Patreon</a>, <a href="https://www.buymeacoffee.com/wigging">Buy Me A Coffee</a>, or <a href="https://www.paypal.me/gavinwiggins">PayPal</a>. Thank you 😄.</p>

        <p>Subscribe to this site using the <a href="https://gavinw.me/cpp-programs/feed.json">JSON Feed</a>.</p>

        <h2>Getting started</h2>
        <hr>
        <ul style="columns:2;">
        {% for page in pages %}
        {% if page.section == 'getstarted' %}
            <li><a href="{{ repo_url }}{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        <h2>Standard library</h2>
        <hr>
        <ul style="columns:2;">
        {% for page in pages %}
        {% if page.section == 'standard' %}
            <li><a href="{{ repo_url }}{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        </div>
    </div>
    <div class="row my-5">
    <div class="col">
        <p class="text-center small my-5">
            C++ Programs © 2023 <br>
            Built by <a href="https://gavinw.me">Gavin Wiggins</a>
        </p>
    </div>
    </div>
</div>
</body>
</html>
